<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>项目管理系统</title>
    <link rel="icon" href="/public/images/title.ico" type="image/x-icon"/>
    <link rel="stylesheet" href="/public/plugins/layui/css/layui.css" />
    <link rel="stylesheet" href="/public/css/login.css" media="all">
</head>
<body>

<div class="main">
    <div class="header">
        <img src="/public/images/loginLogo.png" alt="" />
    </div>
    <form class="layui-form">
        <div class="container">
            <div class="form mask">
                <table border="0" cellpadding="0" cellspacing="15" width="300" class="box">
                    <tr align="right">
                        <td colspan="2">
                            <div class="errorMessage">

                            </div>
                        </td>
                    </tr>
                    <tr align="center">
                        <td>
                            <i style="background:url(/public/images/admin.png) no-repeat 5px 10px !important;"></i>
                            <input type="text" autocomplete="off/on"  name="username" tabindex="1" autofocus placeholder="请输入账号" class="layui-input" style="padding-left: 0"/>
                        </td>
                    </tr>
                    <tr align="center">
                        <td>
                            <i style="background:url(/public/images/password.png) no-repeat 5px 10px !important;"></i>
                            <input type="password" autocomplete="off/on"  name="password"  tabindex="2" placeholder="请输入密码" calss="layui-input">
                        </td>
                    </tr>
                </table>
                <div class="form-btn">
                    <button class="btn loginBtn layui-btn layui-btn-fluid" lay-submit lay-filter="login" tabindex="3"><i class="layui-icon">&#xe615;</i>登&nbsp;&nbsp;录</button>
                </div>
            </div>
        </div>
    </form>
    <div class="foot">
        <p>浙江中海达公司版权所有&copy;2018</p>
        <p>技术支持：浙江中海达数据运营事业部xbq</p>
    </div>
</div>
<script src="/public/plugins/jquery/jquery.min.js" type="text/javascript"></script>
<script src="/public/plugins/layui/layui.all.js"></script>
<script src="/public/js/login.js"></script>
</body>
</html>