<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>系统管理</title>
    <link rel="stylesheet" href="/public/plugins/layui/css/layui.css">
    <link rel="stylesheet" href="/public/css/admin/archive.css">
</head>
<body>
<form class="layui-form" action="" style="margin-top: 20px;">
    <div class="layui-form-item">
        <label class="layui-form-label" style="text-align: center">项目名称</label>
        <div class="layui-input-inline" style="width: 280px;margin-right: 0">
            <input type="text" id="name" name="name" placeholder="输入项目名称" class="layui-input">
        </div>
        <label class="layui-form-label" style="text-align: center">项目编号</label>
        <div class="layui-input-inline" style="width: 280px;margin-right: 0">
            <input type="text" id="number" name="number" placeholder="输入项目编号" class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" style="text-align: center">项目描述</label>
        <div class="layui-input-block">
            <textarea id="description" name="description" placeholder="请输入项目描述" class="layui-textarea"
                      style="height: 220px;width: 670px;"></textarea>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" style="text-align: center">预计经费</label>
        <div class="layui-input-inline" style="width: 280px;margin-right: 0">
            <input type="text" id="budget" name="budget" placeholder="输入预计经费" class="layui-input">
        </div>
        <label class="layui-form-label" style="text-align: center">项目经理</label>
        <div class="layui-input-inline" style="width: 280px;margin-right: 0">
            <select id="manager" name="manager" lay-search="">
                <option value="" selected>请选择项目经理</option>
                {% for manager in managers%}
                <option value="{{manager.id}}">{{manager.username}}</option>
                {% endfor %}
            </select>
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" style="text-align: center;width: 110px;padding: 9px 0px;">预计开始时间</label>
        <div class="layui-input-inline" style="width: 280px;margin-right: 0">
            <input type="text" class="layui-input" id="preStartTime" name="preStartTime" placeholder="yyyy-MM-dd">
        </div>
        <label class="layui-form-label" style="text-align: center;width: 110px;padding: 9px 0px;">预计结束时间</label>
        <div class="layui-input-inline" style="width: 280px;margin-right: 0">
            <input type="text" class="layui-input" id="preEndTime" name="preEndTime" placeholder="yyyy-MM-dd">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" style="text-align: center">开始时间</label>
        <div class="layui-input-inline" style="width: 280px;margin-right: 0">
            <input type="text" class="layui-input" id="startTime" name="startTime" placeholder="yyyy-MM-dd">
        </div>
        <label class="layui-form-label" style="text-align: center">结束时间</label>
        <div class="layui-input-inline" style="width: 280px;margin-right: 0">
            <input type="text" class="layui-input" id="endTime" name="endTime" placeholder="yyyy-MM-dd">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" style="text-align: center">项目状态</label>
        <div class="layui-input-inline" style="width: 280px;margin-right: 0">
            <select id="state" name="state" lay-search="">
                <option value="" selected>请选择状态</option>
                <option value="未开始" selected>未开始</option>
                <option value="进行中" selected>进行中</option>
                <option value="已完成" selected>已完成</option>
            </select>
        </div>
    </div>
<input id="id" name="id" type="hidden">
    <div class="layui-form-item">
        <div class="layui-input-block" style="text-align: right;padding-right: 20px;">
            <button class="layui-btn" lay-submit lay-filter="editProject" style="color: #fff;background: #1789FF;">提交
            </button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
</body>
<script src="/public/plugins/layui/layui.js"></script>
<script src="/public/js/manager/editProject.js"></script>
</html>