<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>系统管理</title>
    <link rel="stylesheet" href="/public/plugins/layui/css/layui.css">
    <link rel="stylesheet" href="/public/css/admin/archive.css">
</head>
<body>

<form class="layui-form" action="" style="margin-top: 20px;padding-right: 20px">
    <div class="layui-form-item">
        <label class="layui-form-label" style="text-align: center">原始密码</label>
        <div class="layui-input-block">
            <input type="text" placeholder="输入新密码"  onfocus="this.type='password'"  name="oldPWD" id="oldPWD" lay-verify="required" autocomplete="off"  class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" style="text-align: center">新密码</label>
        <div class="layui-input-block">
            <input type="text" placeholder="输入新密码"  onfocus="this.type='password'" id="newPWD" name="newPWD" lay-verify="required" autocomplete="off"  class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <label class="layui-form-label" style="text-align: center">新密码确认</label>
        <div class="layui-input-block">
            <input type="text" placeholder="再次输入新密码确认" onfocus="this.type='password'" id="pwdConfirm" lay-verify="required" autocomplete="off"  class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-input-block">
            <button type="reset" class="layui-btn layui-btn-primary" style="float: right;margin-left: 10px;">重置</button>
            <button class="layui-btn" lay-submit lay-filter="setPassword" style="color: #fff;background: #1789FF;float: right;">确定</button>
        </div>
    </div>
    <input type="hidden" name="userId" value="{{userInfo.id}}">
</form>
</body>
<script src="/public/plugins/layui/layui.all.js"></script>
<script src="/public/js/manager/setPassword.js"></script>
</html>