{% extends 'layout.html' %}

{% block main %}
<link rel="stylesheet" href="/public/css/manager/userList.css">
<div style="padding: 10px 20px;">
    <span class="layui-breadcrumb">
      <a href="javascript:;">管理首页</a>
      <a><cite>用户列表</cite></a>
    </span>
    <form class="layui-form x-left layui-elem-quote" action="" style="padding:10px 15px;margin-bottom: 0;height: 38px;">
        <div class="layui-form-pane">
            <div class="layui-form-item">
                <div class="layui-input-inline" style="width:140px">
                    <input type="text" name="username" lay-verify="name" autocomplete="off" placeholder="请输入用户名" class="layui-input">
                </div>
                <div class="layui-input-inline" style="width:140px">
                    <input type="text" name="tel" lay-verify="tel" autocomplete="off" placeholder="请输入联系方式" class="layui-input">
                </div>
                <div class="layui-input-inline" style="width:140px">
                    <select name="role" lay-search="">
                        <option value="" selected>请选择角色</option>
                        {%for role in roles%}
                        <option value="{{role.id}}">{{role.role}}</option>
                        {%endfor%}
                    </select>
                </div>
                <div class="layui-input-inline" style="width:140px">
                    <select name="department" lay-search="">
                        <option value="" selected>请选择部门</option>
                        <option value="数据运营事业部" >数据运营事业部</option>
                        <option value="工程部" >工程部</option>
                        <option value="仪器事业部">仪器事业部</option>
                        <option value="市场部">市场部</option>
                        <option value="行政部">行政部</option>
                    </select>
                </div>
                <div class="layui-input-inline">
                    <button class="layui-btn btn-blue" lay-submit="" lay-filter="searchUser"><i class="layui-icon">&#xe615;</i>查询</button>
                </div>
                <!--<button class="layui-btn x-right btn-orange" lay-submit="" lay-filter="btn-alladd" style="margin-left:10px;"><i class="layui-icon">&#xe681;</i>批量导入</button>-->
                <button id="btnAdd" class="layui-btn x-right btn-lightblue" lay-submit="" lay-filter="addUser" style="float: right"><i class="layui-icon">&#xe61f;</i>录入</button>
            </div>
        </div>
    </form>
    <input type="hidden" id="role" value="{{userInfo.role}}">
    <table id="userList" style="margin:10px 15px;" lay-filter="handler" ></table>
    <script type="text/html" id="toolBar" >
        <a class="layui-btn layui-btn-mini" lay-event="initPsw">初始化密码</a>
        <a class="layui-btn layui-btn-mini" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-mini" lay-event="del">删除</a>
    </script>
</div>

{%endblock%}
{% block js %}
<script src="/public/plugins/base64.js"></script>
<script src="/public/js/manager/userList.js"></script>
{% endblock %}