{% extends 'layout.html' %}

{% block main %}
<link rel="stylesheet" href="/public/css/manager/userList.css">
<div style="padding: 10px 20px;">
    <span class="layui-breadcrumb">
      <a href="javascript:;">管理首页</a>
      <a><cite>周报列表</cite></a>
    </span>
    <form class="layui-form x-left layui-elem-quote" action="" style="padding:10px 15px;margin-bottom: 0;height: 38px;">
        <div class="layui-form-pane">
            <div class="layui-form-item">
                <div class="layui-input-inline" style="width:140px">
                    <input type="text" name="taskDesc"  autocomplete="off" placeholder="任务描述关键字" class="layui-input">
                </div>
                <div class="layui-input-inline" style="width:140px">
                    <select name="executor" lay-search="">
                        <option value="" selected>选择周报录入人员</option>
                        {% for executor in executors %}
                        <option value="{{executor.id}}">{{executor.username}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="layui-input-inline" style="width:140px">
                    <select name="project" lay-search="">
                        <option value="">请选择所属项目</option>
                        {% for project in projects %}
                        <option value="{{project.id}}">{{project.name}}</option>
                        {% endfor %}
                    </select>
                </div>
                <div class="layui-input-inline" style="width:140px">
                    <select  name="process" lay-search="">
                        <option value="" selected>选择完成状态</option>
                        <option value="已完成">已完成</option>
                        <option value="未完成">未完成</option>
                    </select>
                </div>
                <div class="layui-input-inline" style="width:140px">
                    <select  name="isApprove" lay-search="">
                        <option value="" selected>选择审批状态</option>
                        <option value="尚未审批">尚未审批</option>
                        <option value="是">审批通过</option>
                        <option value="否">审批不通过</option>
                    </select>
                </div>
                <div class="layui-input-inline">
                    <button class="layui-btn btn-blue" lay-submit="" lay-filter="searchWeekly"><i class="layui-icon">&#xe615;</i>查询</button>
                </div>
                <button class="layui-btn x-right btn-lightblue" lay-submit="" lay-filter="addWeekly" style="float: right"><i class="layui-icon">&#xe61f;</i>录入周报</button>
            </div>
        </div>
    </form>
    <table id="weeklyTable" style="margin:10px 15px;" lay-filter="handler" ></table>
    <script type="text/html" id="toolBar" >
        <a class="layui-btn layui-btn-mini" lay-event="detail">查看</a>
        <a class="layui-btn layui-btn-mini" lay-event="edit">编辑</a>
        <a class="layui-btn layui-btn-danger layui-btn-mini" lay-event="del">删除</a>
    </script>
    <input type="hidden" id="current" value="{{userInfo.id}}">
</div>

{%endblock%}
{% block js %}
<script src="/public/js/manager/weeklyList.js"></script>
{% endblock %}